@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  font-weight: normal;
}

table.node-info {
  border-collapse: collapse;
  font-size: 0.9em;
  margin-top: 20px;
}

table.node-info caption {
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

table.node-info th {
  font-weight: normal;
  padding-right: 1em;
  text-align: left;
}

#sidebar {
  height: 100%;
  width: 250px;
  float: left;
  color: #fff;
  background-color: #004;
}

#viewport {
  height: 100%;
  margin-left: 250px;
}

#fabric {
  width: 100%;
  height: 100%;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
  fill: #008;
}
